 body { 
            background: url(/static/snake.png) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        html, body {
            height: 100%;
        }
        .container {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -6em;
        }

        .modal-body {
            padding-top: 10px;
            padding-bottom: 5px;
        }

        .pager {
            margin: 0px;
        }

        .table {
            margin-bottom: 5px;
        }

        .modal-footer {
            margin-top: 3px;
            padding-top: 8px;
        }


        .loading{
            animation:loading-spinner .9s infinite linear;
            -webkit-animation:loading-spinner .9s infinite linear;
        }
        @keyframes loading-spinner{
            0%{transform:rotate(0deg)}
            100%{transform:rotate(360deg)}
        }
        @-webkit-keyframes loading-spinner{
            0%{-webkit-transform:rotate(0deg)}
            100%{-webkit-transform:rotate(360deg)}
        }
        .bs-callout {
            margin: 10px 0;
            padding: 10px;
            border-left: 3px solid #eee;
        }
        .bs-callout-danger {
            background-color: #fdf7f7;
            border-color: #d9534f;
        }
        .modal-lg{
            width: 100%;
            padding-left: 5%;
            padding-right: 5%; 
        }
        .table-multi-th-mid{
            padding-top: 2em !important;
            padding-bottom: 2em !important;
        }